body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FAFD !important;
}
div {
    background: white;
}
a {
    text-decoration: none !important;
}
hr {
    border: 1px solid #7C368F !important;
}
.menu-items:hover {
    font-weight: 600;
    color: #7B368F !important;
}
/*
=========================================
===============VIEW PERSONAL================
=========================================
*/

.insignia {
    background: #09B080;
    color: white;
    font-size: 13px !important;
}
.insignia_cargo {
    background: #22CC07;
    font-size: 15px !important;
}
.nombre_personal {
    font-weight: 400;
    color: #7A8489;
}
.titulo_info {
    font-weight: 700;
    font-size: 15px;
    color: #7A8489;
}
.detalle_info {
    font-weight: 400;
}
/*
=======================================
===========VIEW ASIGNACIONES==========
=======================================
*/

.titulo {
    height: 100px;
    /* la vieja sintaxis, obsoleta, pero todavía necesaria, prefijada, para Opera y Navegadores basados en Webkit */
    /*background: -prefix-linear-gradient(left, #7C368F, #F9E701);*/
    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(to right, #7C368F, teal);
}
.config {
    padding-top: 25px;
    color: white;
    font-weight: 300;
}
.icono-menu {
    border-left: 1px solid #7C368F;
}
.efecto_hover:hover {
    color: #FD03BD !important;
}
.espezor {
    font-weight: 400;
}
.Activo {
    background: #198754 !important;
}
.Inactivo {
    background: #DC3545 !important;
}
.efecto_hover_periodo:hover {
    /*border: 2px solid #535353;*/
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.5);
}
/*
=========================================
================LOGIN===================
=========================================
*/

.area {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /*background: #EBEEEF;*/
    position: absolute;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}
.login {
    margin-top: 70px;
}
.borde {
    border-radius: 10px !important;
}
.form-login {
    padding-right: 80px;
    padding-left: 80px;
}
.img-portada-login {
    border-radius: 10px 10px 0 0;
    height: 170px;
}
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.error-login {
    background-color: #D50931;
    color: white;
}
.inicio-sesion {
    font-weight: 400;
}
/*
=====================================================
======================HOME=========================
=====================================================
*/

.avatar {
    height: 5rem;
    width: 5rem;
    max-width: 150px;
    object-fit: cover;
}
.avatar-tabla {
    width: 100%;
    height: 3rem;
    max-width: 3rem;
    max-width: 3rem;
    object-fit: cover;
}
.circulo {
    border-radius: 50%;
    /*border: 1px solid grey;*/
}
.nombre {
    text-align: center;
    font-size: 18px;
    color: black;
}
.hr-perfil {
    margin: 0;
    /*background: #C1BDBD;*/
    background: red;
}
.titulo-menu {
    color: black;
    font-size: 15PX;
    font-weight: 400;
}
.subtexto {
    margin-top: -6px;
    font-weight: 300;
    font-size: 13px;
    color: grey;
}
.contenido-card {
    padding: 40px 0px;
}
.option {
    border-top: 4px solid black !important;
    margin-bottom: 30px;
}
.option:hover {
    border-top: 4px solid #7B368F !important;
    border: 2px solid #7B368F;
    color: #7B368F;
}
/*
================================================
===============perfil estudiante==================
================================================
*/

.texto_tabla_docente {
    font-size: 19px;
    font-weight: 400;
    padding-top: 17px !important;
}
.avatar-perfil {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover !important;
}
.contenedor-img {
    padding-left: 20px;
}
.contenedor-img-perfil {
    margin-top: -60px;
}
.contenedor-datos {
    padding-left: 10px;
}
.titulo-perfil {
    font-weight: 200;
}
.titulo-perfil-perfil {
    font-weight: 400;
    font-size: 20px;
}
.titulo-tabla {
    color: #6c757d !important;
    font-weight: 600;
}
.posicion {
    font-weight: 400;
    font-size: 17px;
    color: gray;
}
.item_perfil {
    font-size: 19px;
}
.info-td {
    color: #6c757d;
    font-size: 13px;
}
.cuerpo {
    /*    border-radius: 30px;*/
}
.contenido-lateral {
    padding-left: 20px;
}
.btn-isntitucionalA {
    background-color: #35FE10 !important;
    color: black !important;
}
/*opciones*/

.opciones {
    display: block;
    width: 33%;
}
.titulos-pills {
    background: #E2E7F1;
}
.boton-opciones {
    width: 100%;
}
.materias {
    height: 150px;
    max-height: 160px;
}
.mis_materias {
    height: 100px;
    max-height: 160px;
}
.boton-acordeon {
    border-radius: 20px !important;
    background: blue !important;
    color: white !important;
}
/*
=====================================
=========MATERIA ESTUDIANE==========
=====================================
*/

.indicadores {
    padding: 0px 20px;
}
.definicion {
    font-size: 14px;
    text-align: justify;
}
/*fallas*/

.fallas {
    font-size: 40px;
}
/*
=====================================
=========PERFIL DOCENTES==========
=====================================
*/

.barra-docente {
    background: #E2E7F1;
}
.pregrado {
    font-size: 13px;
}
.grado-info {
    width: 50%;
}
.item_info {
    display: block;
    font-size: 19px;
    font-weight: 200;
    color: grey;
}
.valor_item {
    font-size: 25px;
    font-weight: 200;
}
/*grados*/

.grados {
    font-weight: 400;
}
/*alertas*/

.alerta-ok {
    background-color: #2743B4;
    color: white;
    font-weight: 300;
    font-size: 20px;
}
.alerta-bad {
    background: #C71209 !important;
    color: white;
    font-weight: 300;
    font-size: 18px;
}
/*
====================================
==========ASIGNACIONES=============
====================================
*/

.nombre-profecion {
    margin-top: 6%;
}
.carrera {
    color: #023666;
}
.nombreD {
    margin-top: 5%;
    font-size: 18px;
}
.avatar-docente {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid #AC23FF;
}
.seccionD {
    border-radius: 22px !important;
}
.seccionD:hover {
    border: 1px solid #AC23FF;
}
/*=================================
==========GRADO==================
===================================*/

.delete-horario:hover {
    color: #FD0303 !important;
}
.dia {
    font-size: 30px !important;
    font-weight: 300;
}
.fila-estudiante:hover {
    color: #AC23FF;
    border: 1px solid #AC23FF;
}
.nombre-apellidos-numero {
    font-size: 20px;
    padding-top: 12px;
}
.estado-aula {
    font-size: 15px;
    margin-top: 20px !important;
}
/*==================================
=========DOCUMENTOS==============
===================================*/

.icono_docu:hover {
    color: red;
}
.text-document {
    font-size: 20px;
    color: black;
    font-weight: 400;
}
.th-documents {
    font-size: 25px;
    font-weight: 400;
}
.fila-estudiante:hover {
    color: #AC23FF;
    border: 1px solid #AC23FF;
}
.text-actividad {
    font-size: 15px;
    font-weight: 200;
    color: #EBE8EC;
}
.texto-documento {
    font-size: 15px;
    font-weight: 200;
    .color: black;
}
.texto-body {
    font-size: 20px;
    font-weight: 400;
}
.icono-actividades {
    color: #09B080;
}
.icono-actividades:hover {
    color: red !important;
}
.punto-actividades {
    color: #FA00C2;
    font-size: 15px;
}
.punto-documentos {
    color: #00FAE0;
    font-size: 15px;
}
.titulo-seccion {
    font-weight: 400;
}
.nombre_estudiante {
    font-size: 20px;
}
.editar:hover {
    color: #FA00C2 !important;
}
/*===============================
=============NOTAS =============
================================*/

.total-nota {
    font-size: 18px;
    color: black;
}
.titulo-criterio {
    font-size: 20px;
    font-weight: 400;
}
.cognitivo {
    color: #20A420;
}
.procedimental {
    color: #A420A0;
}
.actitudinal {
    color: #327B96;
}
.registro-fallas {
    font-size: 17px;
    font-weight: 600;
}
/*===================================
=====ACTIVIDADES VIEW DOCENTE======
====================================*/

.tituloActividad {
    text-align: justify;
}
/*==========================
=======OBSERVADOE ========
============================*/

.items {
    /*color: red;*/
    color: #8D8B8B;
    font-size: 16px;
}
.datos-items {
    font-weight: 400;
    font-size: 19px;
}
.borde-items {
    border-left: dotted 1px black;
    border-right: dotted 1px black;
}
.callout {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #E7E3E3;
}
.callout-success {
    border-left: 4px solid green;
}
.callout-info {
    border-left: 4px solid #0EC4B4;
}
.callout-warning {
    border-left: 4px solid #FDFD00;
}
.callout-danger {
    border-left: 4px solid #CE1806;
}
.callout-primary {
    border-left: 4px solid #3D73EF;
}
.director {
    font-size: 12px;
    font-weight: 400;
}
.nombre-director {
    font-size: 18px;
    font-weight: 400;
}