/*========= Estilos generales ===============*/

.alerta {
    margin-left: 17%;
    width: 500px;
    height: 30px;
    border: 2px solid red;
    text-align: center;
    font-size: 30px;
}
.asunto {
    margin-bottom: 30px;
    text-align: center;
}
/*
================= Cabeza de los documentos
*/

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h2.name {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
}
/*#logo {
    float: left;
    margin-top: 8px;
}*/

.logo {
    /*float: left;*/
    max-width: 150px;
    max-height: 80px;
}
/**/

#client {
    padding-left: 6px;
    border-left: 6px solid #0087C3;
    float: left;
}
#invoice {
    margin-top: -115px;
    display: block;
    float: right;
    text-align: right;
}
.address {
    font-size: 15px;
}
/**/

.titulo-head {
    font-size: 20px;
}
.subtitulo-head {
    font-size: 18px;
}
/*
============= Listado de alumnos por grado
*/

.estudiantes-grado {
    margin-left: 21%;
    border-collapse: collapse;
}
.nombre-numero {
    font-size: 16px;
}
.linea {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #C2C1C1;
}
/* informe de observaciones a estudiantes */

.datos {
    font-size: 15px;
}
.item {
    font-size: 13px;
}
.texto {
    text-align: justify;
    font-size: 15px;
}
.titulo-items {
    font-size: 18px;
}
.observacion, .acciones {
    margin-top: 40px;
}
.datos-observacion {
    margin-top: 20px;
}
.firma {
    width: 300px;
    padding-left: 10px;
    border-bottom: 1px solid #000;
}
.tal {
    margin-left: 5%;
}
footer {
    position: absolute;
    bottom: 100;
    width: 100%;
    height: 40px;
}
.item-firma {
    text-align: center;
}
/* PDF con la informacion del personal de serviocios de la institucion */

.tabla-personal {
    margin-top: 30px;
    margin-left: 3%;
    border-collapse: collapse;
}
.items {
    border: 1px solid #C2C1C1;
    padding: 10px;
}
.person-item {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
}
.person-valor {
    font-size: 17px;
    padding: 10px;
}
/* reporte de fallas */

.tabla-fallas {
    margin-left: 34%;
    border-collapse: collapse;
}
.datos-fallas {
    border: 1px solid #C2C1C1;
    padding: 20px;
}
.margen-titulo-fallas {
    margin-bottom: 11px;
}
.titulo-fallas {
    font-size: 13px;
}
.texto-fallas {
    font-size: 15px;
}
/* reporte de notas definitivas por materia */

.tabla-notas_definitivas {
    margin-left: 17%;
    border-collapse: collapse;
}
.valores-notas {
    border: 1px solid #C2C1C1;
    padding: 15px;
}
.texto-notas-definitivas {
    font-size: 13px;
}
/* Reporte de informacion del estudiante y de sus padres */

.tabla-estudiante-padres {
    margin-left: 3%;
    border-collapse: collapse;
}
.vacio {
    text-align: center;
}
.texto-vacio {
    font-size: 15px;
}
/*listado de docentes*/

.tabla-listado-docentes {
    margin-left: 21%;
    border-collapse: collapse;
}
/*listado de administrativos*/

.tabla-listado-administrativos {
    margin-left: 12%;
    border-collapse: collapse;
}
/*listado de administrativos*/

.tabla-listado-personal {
    margin-left: 11%;
    border-collapse: collapse;
}
/* --------------------------------- BOLETIN --------------------------- */

.info-colegio-boletin {
    margin-left: 28%;
    text-align: center;
}
.datos-boletin {
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    border-collapse: collapse;
}
.td-datos-boletin {
    border: 1px solid grey;
    padding: 8px;
}
.texto-principal {
    font-weight: 200;
    font-size: 14px;
}
.logo-boletin {
    /*float: left;*/
    max-width: 160px;
    max-height: 130px;
}
.tabla-boletin {
    border-collapse: collapse;
}
.td-items-boletin {
    /*text-align: justify;*/
    border: 1px solid grey;
    padding: 8px;
    /*  padding-top: 10px;
    padding-bottom: 10px;*/
}
.texto-observacion {
    text-align: justify;
    font-size: 11px;
}
.texto-center {
    text-align: center;
}